COMPOSE_PROJECT_NAME=liquidaity

# ─── REDIS ──────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ─── POSTGRES ───────────────────────────
POSTGRES_DB=liquidai
POSTGRES_USER=liquid_user
POSTGRES_PASSWORD=NRGsim2025$
GHOSTFOLIO_DB_URL=postgresql://liquid_user:NRGsim2025$@localhost:5432/liquidai
DATABASE_URL=postgresql://liquid_user:NRGsim2025$@localhost:5432/liquidai

# ─── AUTH SECRETS ──────────────────────
ACCESS_TOKEN_SALT=some-random-salt
JWT_SECRET_KEY=some-random-secret


SECURITY_TOKEN=Jeremiah
